.wrap {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    }

.logo {
    color: red;
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
}
.background {
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}