{% load static %}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'img/brandNewPart.webp' %}" class="img-fluid rounded-start" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ part.name }}</h5>
                <p class="card-text">{{ part.manufacturer.name }}</p>
                <p class="card-text">
                    Очень полезная деталь
                </p>
                <p class="card-text"><small class="text-muted">{{ part.cost }}</small></p>
                <a href="{% url 'delete_part' part.pk %}" class="btn btn-danger"> Delete </a>
                <a href="{% url 'update_part' part.pk %}" class="btn btn-primary"> Update </a>
            </div>
        </div>
    </div>
</div>